.my-nav-bar {
	margin: 0 20px;
}

.my-container {
	margin: 10px 20px;
    height: 100%;
}
.home {
    margin-top: 40px;
    padding-bottom: 10px;
}
.page-footer {
    margin-left: 35% !important;
    margin-bottom: 10px !important;
}

