.my-nav-bar {
	margin: 0 20px;
}

.my-container {
	margin: 10px 20px;
   /* height: calc(80vh);*/
	/*background-color: white;*/
}
.home {
    margin-top: 40px;
    padding-bottom: 10px;
}
.page-footer {
	margin-left: 35% !important;
	margin-bottom: 10px !important;
	
}
.my-container .main-container {
	margin-left: 15px !important;
	margin-right: 15px !important;
	width: 100% !important;

}

.ui.grid.container {
	 width:100%!important;
}


